.map-container {
  height: 700px;
  overflow: visible;
}


.ais-SearchBox {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 700px;
  padding: 6px 12px;
  margin: 20px 10px;
}


.ais-SearchBox-input {
  width: 100%;
  height: 50px;
  padding: 8px 16px;
  border: 2px solid #d4d8e3;
  border-radius: 8px;
  background: #fff;
  font-size: medium;
  
}

.selectedInput {
  border: 2px solid #72e555;
}

.ais-SearchBox-submit,
.ais-SearchBox-reset {
  display: none
}

.suggestion-list {
  /* position: relative; */
  z-index: 1;
}

.custom-marker {
  background-color: white  ;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
/* 
.custom-marker::after {
  content: "";
  position: relative;
  left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  background-color: red;
  border-color: #ffffff transparent transparent transparent;
} */

.contentDiv {
  margin: 0 5px;
  padding: 0 4px;
  padding-bottom: 4px;
}
.marker-para{
  height: 15px;
  margin: 0;
  font-size: 10px;
  font-weight: 600;
  color: gray;
}

.contentDiv > :first-child {
  font-size: 12px;
  font-weight: 600;
  color: black;
}

.imageDiv {
  width: 40px;
  height: 40px;
  padding: 1px;
  border: 2px solid rgb(215, 20, 183);
  border-radius: 50%;
  overflow: hidden;
}

.imageDiv img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}



.water-droplet {
  width: 35px;
  height: 35px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  border: 3px solid black;
  transform: rotate(135deg);
  margin-top: 20px;
  background-color: rgb(166, 30, 215);
}





.profile-pic {
  width: 28px;
  height: 28px;
  /* transform: rotate(-135deg); */
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 4px;
  border: 1px xolid red;
  background-color: white;
  border-radius: 50%;
  
}

.profile-pic img {
  height: 90%;
  width: 90%;
  object-fit: cover;
  border-radius: 50%;
}

.mapboxgl-ctrl-icon img {
  width: 20px;
  height: 20px;
}


.pagination-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 10px;
}

.pagination-item {
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(38, 236, 247);
}

.pagination-link {
  font-size: large;
  /* font-weight: 600; */
  color: black;
  text-decoration: none; 
}

.pagination-selectedItem {
  background-color: #fff;
  font-weight: 800;
}

