.map-container {
  height: 700px;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

/* 
.custom-marker {
  background-color: white  ;
  padding: 5px;
  max-height: 45px;
  opacity: 40%;
} */
/* 
.custom-marker::after {
  content: "";
  position: relative;
  left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
} */
/* 
.marker-para{
  height: 13px;
  margin: 2px;
  font-size: 2px;
  font-weight: 600;
} */



.water-droplet {
  width: 35px;
  height: 35px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  border: 3px solid black;
  transform: rotate(135deg);
  margin-top: 20px;
  background-color: rgb(166, 30, 215);
}





.profile-pic {
  width: 28px;
  height: 28px;
  /* transform: rotate(-135deg); */
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 4px;
  border: 1px xolid red;
  background-color: white;
  border-radius: 50%;
  
}

.profile-pic img {
  height: 90%;
  width: 90%;
  object-fit: cover;
  border-radius: 50%;
}

